/* Stylesheet for sample portfolio */

* {
    box-sizing: border-box;
    text-decoration: none;
}

/* Primary color and styles */
:root {
    --first: rgba(68, 88, 119, 1);
    --second: rgba(146, 204, 206, 1);
    --third: rgba(49,52, 61, 1);

    --primary: rgba(121,82,125);
    --secondary:rgb(240,121,82);
    --tertiary: rgb(240,121,82);
    --dark:rgba(28,29,33,1);
    --light: rgba(238, 238, 247,1);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, Sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

article p {
    margin: 0;
}

/* Header items and styling */
header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--third);
    box-shadow: 0 5px 35px var(--first);
}

header h1 {
    color: var(--third);
    width: 450px;
    background-color: var(--second);
    padding: 5px;
    font-size: 4vw;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    color: var(--second);
    background-image: linear-gradient(270deg, var(--second) 0%, var(--second) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);
}

/* Hero Banner content */
.hero-banner {
    background-image: url("/Assets/Images/wood_fence.jpeg");
    background-color: var(--first);
    height: 285px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}

/* Main content */

main {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.page-division {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-divition > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 
}

article h2 {
    height: inherit;
    width: 20vw;
    padding-left: 10vw;
    border-right: 3px solid var(--third);
    padding-right: 10px;
    font-size: 32px;
    text-align: right;
    position: relative;
    overflow: auto;

}






















div h2 {
    position: absolute;
    right: 50px;
    bottom: 3px;
    color: var(--third);
    background-color: var(--second);
    padding: 5px;
    font-size: 25px;
    width: 250px;
    align-items: center;
    text-align: center;
}

main {
    flex-grow: 1;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
    position: relative;
}


object {
    margin: 5px;;
}


.cards {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 20vw;
    top: 2vw;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 30px;
    
}

.surf {
    float: right;
    width: 73vw;
    height: 30vw;
    position: absolute;
    border: 3px solid var(--second);
    margin: 3px;
    order: 0;
    background-image: url("/Assets/Images/ocean_surf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
   

h3 { 
    position: absolute;
    bottom: 2px;
    width: fit-content;
    height: 60px;
    color: var(--third);
    background-color: var(--second);
    padding: 8px;
    font-size: 25px;
    align-items: center;
    text-align: center;
    line-height: 50%;
    text-align: left;

}

h4 {
    font-size: 14px;
}

.work {
    height: 53vw;
}

.led {
    float: left;
    width: 36vw;
    height: 10vw;
    position: absolute;
    top: 31vw;
    background-image: url("/Assets/Images/led_wall.jpg ");
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid var(--second);
    order: 1;
}
 
.calc {
    float: right;
    width: 36vw;
    height: 10vw;
    position: absolute;
    top: 31vw;
    left: 39vw;
    background-image: url("/Assets/Images/calculator.jpg ");
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid var(--second);
    order: 2;
}

.puzzels {
    float: left;
    width: 36vw;
    height: 10vw;
    position: absolute;
    top: 42vw;
    left: 2vw;
    background-image: url("/Assets/Images/puzzle.webp ");
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid var(--second);
    order: 3;
}

.run {
    float: right;
    width: 36vw;
    height: 10vw;
    position: absolute;
    top: 42vw;
    left: 39vw;
    background-image: url("/Assets/Images/trail_running.webp ");
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid var(--second);
    order: 4;
}

footer { 
    position: relative;
    flex-grow: 0;
    align-items: flex-end;
    bottom: 0;
    width: 100%;
    
}

address {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

footer a {
    position: relative;
    margin-bottom: 3.6vw;
    text-decoration: none;
    margin-left: 6vw;
    margin-right: 1vw;
    margin-top: 3vw;
    color: var(--second);
    transition: all 0.25s ease-in;
    font-size: 1.2rem;
    background-image: linear-gradient(270deg, var(--second) 0%, var(--second) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
}

footer a:hover {
    background-size: 100% 105%;
    color: var(--primary);
}