/* Stylesheet for advanced_portfolio */


* {
    box-sizing: border-box;
    text-decoration: none;
    color: var(--third);
}

/* primarily used colors */
:root {
    --first: rgba(68, 88, 119, 1);
    --second: rgba(146, 204, 206, 1);
    --third: rgba(49,52, 61, 1);
}

h1 {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, Sans-serif;
}


/* Top header with name and nav bar */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    background-color: var(--third);
    margin-bottom: 0;
    padding-left: 0;
    height: 10vw;
    text-align: right;
}

header h1 {
    color: var(--third);
    width: 450px;
    background-color: var(--second);
    padding: 5px;
    font-size: 4vw;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    color: var(--second);
    background-image: linear-gradient(270deg, var(--second) 0%, var(--second) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);
}


/* Hero Banner area with photo and subtitle */
.hero-banner {
    background-image: url("/advanced_portfolio/Assets/Images/wood_fence.jpeg");
    background-color: var(--first);
    height: 285px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30vh;
    align-items: flex-end;
    margin-top: 0;
    text-align: right;
    flex: 0 0 50%;
}

.hero-banner img {
    position: absolute;
    right: 110px;
    top: 20px;
    height: 185px;
    border-radius: 55px;
}

div h2 {
    position: absolute;
    display: inline;
    right: 50px;
    bottom: 3px;
    color: var(--third);
    background-color: var(--second);
    padding: 5px;
    font-size: 25px;
    width: 250px;
    align-items: center;
    text-align: center;
}


/* Main contents of page */
main {
    display: flex;
    flex-flow: row wrap;
    /* flex-grow: 1; */
    max-width: 90%;
}


/* About me section */
.me {
    flex-grow: 0;
    margin-bottom: 20px; 
    height: 15vw;
    width: 100%;
    justify-content: space-between;
}


/* Article is being used for the "about me", "work" and "contact" fields */
article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    /* height: 100%; */
    position: relative;
}

article h2 {
    height: inherit;
    width: 20vw;
    padding-left: 10vw;
    border-right: 3px solid var(--third);
    padding-right: 10px;
    font-size: 32px;
    text-align: right;
    position: relative;
    overflow: auto;

}

article p {
    height: 13vw;
    padding-top: 20px;
    position: absolute;
    left: 22vw;
}


/* Object as well as the class ".cards" is being used to refer to the individual project cards */
object {
    margin: 5px;;
}

/* Class".container" is referring to the div that contains all of the project cards */
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 20vw;
    top: 2vw;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 30px;
    flex: 0 0 78%;
    min-height: 350px;
    max-height: 350px;
    flex-basis: 5px;
    
}

/* Class".horiseon" is referring to the card for the Horiseon project */
.horiseon {
    float: right;
    width: 73vw;
    min-width: 20vw;
    height: 30vw;
    position: absolute;
    border: 3px solid var(--second);
    margin: 3px;
    order: 0;
    background-image: url("/advanced_portfolio/Assets/Images/Horiseon.png");
    background-repeat: no-repeat;
    background-size: cover;
}
   
/* H3 and H4 are being used for the nametag for each project card */
h3 { 
    position: absolute;
    bottom: 2px;
    width: fit-content;
    height: 60px;
    color: var(--third);
    background-color: var(--second);
    padding: 10px;
    font-size: 25px;
    align-items: center;
    text-align: center;
    line-height: 50%;
    text-align: left;

}

h3 span {
    font-size: 13px;
    line-height: 3;
}

h4 {
    font-size: 14px;
}

/* Class".work" is referring to the specific section with the subheading "work" in it.  */
.work {
    height: 53vw;
}

/* Class".snippet" is referring to the card for the Code Snippet project */
.snippet {
    float: left;
    width: 36vw;
    height: 10vw;
    position: absolute;
    top: 31vw;
    background-image: url("/advanced_portfolio/Assets/Images/css_snippet_cheatsheet.png ");
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid var(--second);
    order: 1;
}
 
/* Class".landPage" is referring to the card for the Landing Page project */
.landPage {
    float: right;
    width: 36vw;
    height: 10vw;
    position: absolute;
    top: 31vw;
    left: 39vw;
    background-image: url("/advanced_portfolio/Assets/Images/store_landing_page.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid var(--second);
    order: 2;
}

/* Class".passgen" is referring to the card for the Password Generator project */
.passgen {
    float: left;
    width: 36vw;
    height: 10vw;
    position: absolute;
    top: 42vw;
    left: 2vw;
    background-image: url("/advanced_portfolio/Assets/Images/password_generator.jpg ");
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid var(--second);
    order: 3;
}

/* Class".firstweb" is referring to the card for My First Website project */
.firstweb {
    float: right;
    width: 36vw;
    height: 10vw;
    position: absolute;
    top: 42vw;
    left: 39vw;
    background-image: url("/advanced_portfolio/Assets/Images/my_first_website.jpeg ");
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid var(--second);
    order: 4;
}

/* Attributes for footer section */
footer { 
    display: flex;
    position: relative;
    flex-grow: 0;
    align-items: flex-end;
    bottom: 0;
    width: 100%;
    
}

address {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

footer a {
    position: relative;
    margin-bottom: 3.6vw;
    text-decoration: none;
    margin-left: 6vw;
    margin-right: 1vw;
    margin-top: 3vw;
    color: var(--second);
    transition: all 0.25s ease-in;
    font-size: 1.2rem;
    background-image: linear-gradient(270deg, var(--second) 0%, var(--second) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
}

footer a:hover {
    background-size: 100% 105%;
    color: var(--primary);
}

/* Media Queries for screen size of 980px */
@media screen and (max-width: 980px) {
    * {
        flex-direction: column wrap;
    }  
    
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
    }

    header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 10vw;
    }

    header nav {
        justify-content: center;
    }

    main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
    }
    article  h2,
    article  object {
        flex-direction: column;
        flex: 0 0 100%;
    }

    article > h2 {
        border-right: none;
        border-bottom: 3px solid var(--second);
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 7vw;
    }

    .hero-banner {
        flex-direction: wrap column;
        justify-content:space-between;
        align-items: center;
        text-align: center;
        padding-left: 50px;
    }

    portal {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
        min-width: 767px;
        flex: 0 4 100%;
        max-height: 2vw;
        min-height: 3vw;
    }
}

/* Media Queries for screen size of 768px */
@media screen and (max-width: 768px) {
    * {
        flex-direction: column wrap;
    }


    
    main{
        flex-direction: column;
    }

    
    object, object:first-child {
        flex-basis: 100%;
    }

    object{
        min-height: 5vw;
        min-width: 5vw;
    }

    

    .container {
        flex-direction: column;
        flex-wrap: wrap ;
        align-items: center;
        /* grid-auto-rows: minmax (200px, 1fr); */
        width: max-content;
        max-height: 50px;
    }

    footer address {
        flex-direction: column;
        align-items: center;
    }
}

